<html lang="ru">

<head>
    <meta charset="utf-8"></meta>
</head>

<body>
    <div id="app">
        <div v-for="(q, i) in questions">
            <p>Вопрос: {{ q.text }}</p>
            <p>
                Ответ: 
                <select v-model="answers[i]">
                    <option v-for="a in q.answers" v-bind:value="a.id"> {{ a.text }} </option>
                </select>
            </p>
        </div>
    </div>
</body>

<script src="vue.js"></script>
<script src="index.js"></script>

</html>