<html lang="ru">

<head>
    <meta charset="utf-8"></meta>
</head>

<body>
    <div id="guestbook">
        <h2>Книга посетителей</h2>
        <h3>Сообщения</h3>
        <div v-if="Array.isArray(submissions) && submissions.length > 0">
            <p v-for="message in submissions">
                <b>{{message.author}}:</b> {{message.text}}
            </p>
        </div>
        <div v-else>
            <p>В этой книге пока нет ни одного сообщения :(</p>
        </div>
        <h3>Новое сообщение</h3>
        <input v-model="message_author" placeholder="Имя" />
        <input v-model="message_text" placeholder="Сообщение" />
        <button v-on:click="send_message()">Отправить</button>
    </div>
</body>

<script src="/public/jquery-3.2.1.min.js"></script>
<script src="/public/vue.js"></script>
<script src="/public/guestbook.js"></script>

</html>