<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
    <script src="/public/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chance/1.0.12/chance.min.js"></script>
</head>

<body>
    <h1>Duels</h1>
    <div id="game">
        <h2>Players</h2>
        <vc-player :id="1" ref="player1" @act="on_act_1" @spawn-mana="on_spawn_mana_1"></vc-player>
        <vc-player :id="2" ref="player2" @act="on_act_2" @spawn-mana="on_spawn_mana_2"></vc-player>
        <h2>Actions</h2>
        <table>
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Cost</th>
                    <th>Damage</th>
                    <th>XP gain</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="action in actions">
                    <td>{{action.name}}</td>
                    <td>{{action.mp_cost}}</td>
                    <td>{{action.hp_damage}}</td>
                    <td>{{action.xp_gain}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

<template id="player-template">
    <div>
        <h3>Player {{id}}</h2>
        <p>
            <b>Health:</b> {{hp}}
        </p>
        <p>
            <b>Mana:</b> {{mp}}
        </p>
        <p>
            <b>Experience:</b> {{xp}}
        </p>
        <p>
            <b>Actions:</b>
            <button v-for="action in get_actions()" @click="perform_action(action)">
                {{action.name}}
            </button>
        </p>
    </div>
</template>

<script src="/public/games/duels.js"></script>

</html>